root = true
tab_width = 4

[*]
indent_style = tab
indent_size = 4
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
trim_multiple_empty_lines = true
one_bracket_per_line = true

[*.go]

[*.proto]
indent_style = tab
indent_size = 2

[*.sh]

[*.md]
trim_trailing_whitespace = true

[*.txt]
trim_trailing_whitespace = true
insert_final_newline = false

[*.{yml,yaml}]
indent_style = space
indent_size = 4


[*.{hcl,tf}]
indent_style = space
indent_size = 4



[*.py]
indent_style = space
# indent_size = 4
