name: simver
permissions: { id-token: write, contents: write, pull-requests: read }
on:
    workflow_dispatch:
    push:
        branches: [main]
    pull_request:
        types: [opened, synchronize, reopened, closed]
jobs:
    simver:
        runs-on: ubuntu-latest
        steps:
            - uses: walteh/simver@d47d6232e1b2e589182fc1fcfc1747c1b0fa7934
              with:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
